body{
    background-color: bisque;
}
p{
    font-size: 15px;
    padding-top: 1px;
    text-align: left;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    float: right;
}
